<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Curriculum Vitae</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Nuestro CV</h1>
<!--        <p th:text="'Hola, ' + ${person.first_name} + ' ' + ${person.last_name} + '!'">Texto por defecto</p>
        <p th:text="'Profesion, ' + ${person.profession} + '!'">Texto por defecto</p>-->
<!--        
        <p th:if="${person.first_name.length} > 3" style="color: red;">Es un nombre mediano o grande!</p>-->
        <p th:text="'property: ' + ${property}"></p>
    </body>
</html>
